#news-content {
  position: absolute;
  overflow: hidden;

  transition: $default-transition;

  .image {
    background-size: cover;
    background-position: center center;
  }

  .headline {
    font-weight: bold;

    span {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.3;
    }
  }

  &.FCL {
    width: 1920px;
    height: 1080px;

    top: 0;
    left: 1920px;

    transition-property: opacity;

    .image {
      width: 1920px;
      height: 1080px;
    }

    .ribbon-background {
      position: absolute;
      width: 1920px;
      height: 272px;
      right: 0;
      bottom: 0;

      background-position: bottom right;

      opacity: 0.85;
    }

    .headline {
      &.full {
        height: 800px;
        margin: 0 125px 0 125px;

        font-size: 80pt;
        line-height: 800px;

        &.long-text {
          font-size: 65pt;
        }
      }

      &.ribbon {
        position: absolute;
        width: 1720px;
        height: 272px;
        right: 0;
        bottom: 0;
        margin: -15px 100px 0;

        font-size: 45pt;
        line-height: 280px;

        background-position: bottom right;


        span {
          margin-top: -20px;
        }

        &.long-text {
          margin: -15px 5px 0 5px;
          font-size: 35pt;
        }
      }
    }

    &.transition-article-appear,
    &.transition-article-enter {
      opacity: 0;

      &.transition-article-appear-active,
      &.transition-article-enter-active {
        opacity: 1;
      }
    }

    &.transition-article-leave {
      opacity: 1;

      &.transition-article-leave-active {
        opacity: 0;
      }
    }
  }

  &.DCA {
    width: 1080px;
    height: 1390px;

    top: 424px;
    left: 0;

    transition-property: left;

    .image {
      width: 1080px;
      height: 730px;
    }

    .ribbon-background {
      display: none;
    }

    .headline {
      &.ribbon {
        height: 557px;
        margin: 80px 65px 0;

        font-size: 50pt;
        line-height: 557px;

        &.long-text {
          font-size: 40pt;
        }
      }
    }

    &.transition-article-appear,
    &.transition-article-enter {
      left: 1080px;

      &.transition-article-appear-active,
      &.transition-article-enter-active {
        left: 0px;
      }
    }

    &.transition-article-leave {
      left: 0px;

      &.transition-article-leave-active {
        left: -1080px;
      }
    }
  }

  &.SHD,
  &.PHD {
     width: 1920px;
     height: 1080px;

     top: 0;
     left: 0;

     transition-property: opacity;

     .image {
       width: 1920px;
       height: 1080px;
     }

     .ribbon-background {
       display: none;
     }

     .headline {
       &.full {
         height: 800px;
         margin: 0 125px 0 125px;

         font-size: 80pt;
         line-height: 800px;

         &.long-text {
           font-size: 65pt;
         }
       }

       &.ribbon {
         box-sizing: border-box;
         position: absolute;
         width: 1920px;
         height: 272px;
         right: 0;
         bottom: 0;
         margin: 0;
         padding: 0 100px;

         font-size: 45pt;
         line-height: 280px;

         background: rgba(0, 0, 0, .7);
         border-top: 6px solid #FFF;

         span {
           margin-top: -20px;
         }

         &.long-text {
           margin: -15px 5px 0 5px;
           font-size: 35pt;
         }

         &.c1 {
           border-color: rgb(70, 97, 95);
         }

         &.c2 {
           border-color: rgb(157, 103, 68);
         }

         &.c3, &.c4, &.c7 {
           border-color: rgb(42, 88, 129);
         }

         &.c5, &.c9 {
           border-color: rgb(185, 39, 29);
         }

         &.c6 {
           border-color: rgb(42, 88, 129);
         }

         &.c8 {
           border-color: rgb(0, 93, 112);
         }
       }
     }

     &.transition-article-appear,
     &.transition-article-enter {
       opacity: 0;

       &.transition-article-appear-active,
       &.transition-article-enter-active {
         opacity: 1;
       }
     }

     &.transition-article-leave {
       opacity: 1;

       &.transition-article-leave-active {
         opacity: 0;
       }
     }
   }

  &.PMP {
    width: 480px;
    height: 1045px;

    top: 0;
    left: 0;

    transition-property: opacity;

    .image {
      width: 480px;
      height: 600px;
    }

    .ribbon-background {
      display: none;
    }

    .headline {
      color: #444;

      &.ribbon {
        height: 280px;
        margin: 60px 15px 0;

        font-size: 30pt;
        line-height: 280px;

        &.long-text {
          font-size: 20pt;
        }
      }
    }

    &.transition-article-appear,
    &.transition-article-enter {
      opacity: 0;

      &.transition-article-appear-active,
      &.transition-article-enter-active {
        opacity: 1;
      }
    }

    &.transition-article-leave {
      opacity: 1;

      &.transition-article-leave-active {
        opacity: 0;
      }
    }
  }
}
