time {
  position: absolute;


  color: rgba(0, 0, 0, .85);
  font-size: 60pt;
  font-weight: 700;
  letter-spacing: 1.2pt;


  &.FCL {
    right: 1920px;
    top: -10px;

    padding: 50px;
  }

  &.DCA {
    right: 0;
    top: 1160px;

    color: #FFF;
    font-size: 30pt;
    padding: 20px 50px;
  }
}