// MAIN CSS ENTRY POINT

@import '_variables';
@import '~dynamics-utilities/src/sass/mixins/font-face';

@include font-face(Gotham, "~dynamics-utilities/src/fonts/Gotham/Gotham-Light", 300, normal, woff2 woff);
@include font-face(Gotham, "~dynamics-utilities/src/fonts/Gotham/Gotham-Book", 500, normal, woff2 woff);
@include font-face(Gotham, "~dynamics-utilities/src/fonts/Gotham/Gotham-Medium", 600, normal, woff2 woff);
@include font-face(Gotham, "~dynamics-utilities/src/fonts/Gotham/Gotham-Bold", 700, normal, woff2 woff);

// Scenes
@import "scenes/Content";
@import "scenes/Error";
@import "scenes/UpdatedCaption";

html, body
{
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: Gotham;

  background-color: #ecebec;
  color: #FFF;
}

main {
  top: 0;
  left: 0;
  position: absolute;

  &.FCL {
    width: 3840px;
    height: 1080px;
  }

  &.DCA {
    width: 1080px;
    height: 1920px;
  }
}