// MAIN CSS ENTRY POINT

@import '_variables';
@import '~dynamics-utilities/src/sass/mixins/font-face';

@include font-face(Gotham, "~dynamics-utilities/src/fonts/Gotham/Gotham-Light", 300, normal, woff2 woff);
@include font-face(Gotham, "~dynamics-utilities/src/fonts/Gotham/Gotham-Book", 500, normal, woff2 woff);
@include font-face(Gotham, "~dynamics-utilities/src/fonts/Gotham/Gotham-Medium", 600, normal, woff2 woff);
@include font-face(Gotham, "~dynamics-utilities/src/fonts/Gotham/Gotham-Bold", 700, normal, woff2 woff);

// Scenes
@import "scenes/Content";
@import "scenes/Error";
@import "scenes/TimeDisplay";
@import "scenes/UpdatedCaption";

html, body
{
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: Gotham;

  background-color: #ecebec;
  color: #FFF;
}

main {
  top: 0;
  left: 0;
  position: absolute;

  background-size: contain;

  transform-origin: top left;

  &.FCL {
    width: 3840px;
    height: 1080px;
  }

  &.DCA {
    width: 1080px;
    height: 1920px;
  }

  &.PMP {
    width: 640px;
    height: 1080px;

    background-image: url("../assets/images/PMP-Background.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    .headline-bar {
      box-sizing: border-box;

      position: absolute;
      top: 550px;
      left: 35px;

      width: 570px;
      height: 60px;
      padding: 2px 8px;

      background-color: #0061a3;

      font-size: 35pt;
      font-weight: 700;
      line-height: 60px;
      text-transform: uppercase;
    }
  }
}